//for the pokemon pages

//colors
$charmander: #fde36d;
$charman-insides: rgb(252, 247, 217);
$glo: rgb(255, 253, 241);
$charmeleon: #f2b65e;
$charmel-insides:#ffedd3;
$charizard: #de553b;
$chari-insides: #ffd3ca;
$nav: #558873;
$general: #ade0cb;


body{
    background-color: $general;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#grid{
    display: flex;
    flex-wrap: nowrap;
    background-color: $charmander;
    border-radius: 5%;
    padding: 5%;
    margin: 1.5%;
    grid-gap: 2rem;
    box-shadow: 10px 10px 25px #2e4b2d;

    h1{
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem;
    }
    p{
        font-family: 'Orbitron', sans-serif;
        font-size: 1.5rem;
    }
    li{
        list-style-type: none;
    }
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 1.5%;
    width: 100%;
    background-color: $nav;
    border: 0;
    padding: 0;

    p{
        text-align: left;
        padding-left: 5%;
        margin: 2%;
        font-size: 2rem;
        font-family: 'Orbitron', sans-serif;;
    }

    ul{
        width: 60%;
        padding-left: 40%;
    }

    li{
        display: inline-flex;
        justify-content: center;
        list-style-type: none;
        text-align: right;
        padding-left: 5%;
        padding-right: 6%;
        margin-top: 2%;
    }
    a{
        color: $charmel-insides;
        text-decoration: none;
        padding: 10%;
    }
}

#imageAndName{
    background-color: $charman-insides;
    padding: 2rem;
    border-radius: 10%;
    box-shadow: 2px 2px 20px #745430 inset;
}

#generalAbilities{
    display: flex;
    align-items: center;
    background-color: $charman-insides;
    border-radius: 10%;
    padding: 2%;
    box-shadow: 2px 2px 20px #745430 inset;
}
#stats{
    background-color: $charman-insides;
    border-radius: 10%;
    padding: 2%;
    box-shadow: 2px 2px 20px #745430 inset;
}
#links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $charman-insides;
    border-radius: 10%;
    padding: 2%;
    box-shadow: 2px 2px 20px #745430 inset;
}

footer{
    padding: 1.5%;
}