//for the pokemon pages

$charmander: #fbdb66;
$charmeleon: #f2b65e;
$charizard: #de553b;
<<<<<<< HEAD
$general: #b8e9d4
=======

div{
    border: #de553b 1px solid;
}

p{
    border: #de553b 1px solid;
}
>>>>>>> 8330e180586a2045d02728ab27ca7bc722cb3d1b
